<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shirt Patterns</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" xintegrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.153.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.153.0/examples/jsm/"
      }
    }
  </script>

</head>
<body>

  <header>
    <img id="header-logo" src="{{ url_for('static', filename='SLogo.png') }}" alt="SA Logo">
    Parametric Shirt Patterns
  </header>

  <canvas id="canvas"></canvas>
  <div class="controls">
    <div class="control-group">
      <label for="patternPreset">Pattern Type</label>
      <select id="patternPreset">
        <option value="shirt">Shirt</option>
        <option value="collar">Collar</option>
      </select>
    </div>
    <div class="control-group">
      <label for="width">Width</label>
      <input type="range" id="width" min="50" max="200" value="90" step="1">
    </div>
    <div class="control-group">
      <label for="height">Height</label>
      <input type="range" id="height" min="50" max="200" value="100" step="1">
    </div>
    <div class="control-group">
      <label for="scale">Scale</label>
      <input type="range" id="scale" min="0.5" max="2.0" value="1.0" step="0.01">
    </div>
    <div class="control-group">
      <label for="fillColor">Fill Colour</label>
      <input type="color" id="fillColor" value="#0f0f0f">
    </div>
  </div>

  <div class="measurement" id="measurementDisplay">Total Measurement: 0</div>

  <div class="zoom-buttons">
    <button class="zoom-button" id="zoomIn"><i class="fas fa-plus"></i></button>
    <button class="zoom-button" id="zoomOut"><i class="fas fa-minus"></i></button>
  </div>

  <div class="controls-bottom-right">
    <div class="toggle-control" id="mirrorPatternContainer">
      <label for="mirrorPatternCheckbox">Mirror Pattern</label>
      <input type="checkbox" id="mirrorPatternCheckbox">
    </div>
    <div class="toggle-control" id="toggleLabelsContainer">
      <label for="toggleLabelsCheckbox">Show Labels</label>
      <input type="checkbox" id="toggleLabelsCheckbox" checked>
    </div>
    <div class="control-group">
        <button id="downloadDxfButton">Download DXF</button>
    </div>
  </div>

  <script type="module" src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>